@import "tailwindcss";

:root {
    --dark: #0a0a0a;
    --gray: #171717;
    --blue: #00d4ff;
    --green: #39ff14;
    --light-gray: #ededed;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00d4ff;
}

@theme inline {
    --color-dark: var(--dark);
    --color-gray: var(--gray);
    --color-blue: var(--blue);
    --color-green: var(--green);
    --color-light-gray: var(--light-gray);
}

body {
    background: var(--dark);
    color: var(--light-gray);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    @apply mx-auto px-4 md:px-0;
}
